@font-face{
	font-family: 'graystroke';
	src: url('GRAYSTROKE REGULAR.otf');
}

@font-face{
	font-family: 'corbert';
	src: url('Corbert_Regular_Regular.otf');
}

body{
	background-color: #e6e6e6;
	margin: 0px 0px;
	padding: 0px 0px;
}

#title{
	clear:both;
	background: #333333;
	width: 100%;
	height: auto;
	text-align: center;
}

#title-link{
	color: #e6e6e6;
	font-size: 5em;
	font-family: graystroke, 微软雅黑;
	font-variant:small-caps;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding-top:30px;
}

ul.menu{
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
}

li.menu-item{
	display:inline;
}

a.menu-link:link, a.menu-link:visited{
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;
}
a.menu-link:hover, a.menu-link:active{
	background-color:#7A991A;
}

#profile{
	width: 35%;
	height: auto;
	float: right;
	border:2px solid #333333;
	border-radius:25px;
	margin: 15px;
	margin-right: 25px;
}

#profile:hover, #journal-list:hover, #homework-list:hover{
	background-color: #CCCCCC;
}

.profile-content{
	padding:15px;
	font-family: 微软雅黑;
	font-size: 0.9em;
}

#portrait{
	padding: 20px;
	float: right;
	width: 22%;
	height: auto;
}

#homework{
	clear: left;
}

#journal-title{
	width: auto;
	height: auto;
	border: none;
	font-weight:bold;
	float: left;
	padding: 10px;
	font-size: 1.5em;
	font-family: graystroke, 'Microsoft YaHei';
	margin-top: 20px;
}

#journal-content{
	width: 45%;
	height: auto;
	border:2px solid #333333;
	border-radius:25px;
	float: left;
	font-family: 'Microsoft YaHei';
	padding: 20px;
	margin: 20px;
	text-indent: 2em;
	line-height: 2em;
}

.journal-link:link, .journal-link:visited, .homework-link:link, .homework-link:visited{
	text-decoration:none;
	color: #000000;
}


.journal-link:hover, .homework-link:hover{
	background-color: #999999;
}

#footer{
	clear:both;
	margin-top: 60px;
	background: #333333;
	width: 100%;
	height: 70px;
	text-align: center;
}

#footer > p{
	padding-top: 30px;
	color: #e6e6e6;
	font-size: 1em;
	font-family: Arial;
}
